html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a1923;
}

canvas {
  display: block;
}

.custom-input {
  background-image: url("assets/images/otherUI/input_name.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  /*font-size: 18px;*/
  color: #255;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}

.custom-input:focus {
  outline: 2px solid rgb(127, 127, 127);
}
